body{
    background: darkcyan;
}

.imgBox{
    background-image:url('img.png') ;
    position: relative; ;
    height: 300px;
    width: 300px;
    cursor: pointer;
    
}
.whiteBox{
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 10px;
    background-color: white;
    border: 2px solid blue ;
}
.hold{
    border: solid red 4px;
}
.hide{
    display:none
}